@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #0f172a;
    font-family: Arial, Helvetica, sans-serif;
}

/* styles.css or your main CSS file */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
